<h1>Editing part</h1>
<%= form_for :timerecord, url: edit_timerecords_path(@timerecord), method: :patch do |f| %>
  <p>
  	
  </p>
  <p>
    <%= f.label :taskname %><br>
    <%= f.collection_select :task_id, Task.order(:taskname),:id, :taskname, include_blank: true %>
  </p>
    
 
  <p>
    <%= f.submit "Time Out"%>	
  </p>
<% end %>